@import "font.scss";
@import "fontello.scss";
@import "variables.scss";
@import "mixins.scss";
@charset "utf-8";

/*------------------------------------------
    Author by Candy
------------------------------------------ */
/*------------------------------------------
 	Global
------------------------------------------ */
body{
    // font: $f20#{"/"}25px $font_stack;
    @include font(15px, 20px, $font_stack);
    // font: #{$f20}/25px #{$font_stack};
    color: $black;
    @include pad(20px 10px 20px 30px);

    strong{
        font-family: $proxima_novablack_stack;
    }
}

.lt-ie9{
    .outdatedBrowserOverlay {
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background: $black;
        top: 0;
        left: 0;

        .outdatedBrowserBox {
            width: 535px;
            height: 100px;
            color: $white;
            font-size: 18px;
            margin: 20px auto;
            @extend ._textCenter;

            a {
                color: $lightgray;
            }
        }
    }
}


/*------------------------------------------
  Style
------------------------------------------ */
.container{
    width: 800px;
    margin: 0 auto;
  
    h1{
        font-size: $f20;
        @include _margin15px_tb;
        @extend ._textCenter;
    }

    p{
        @extend ._textCenter;
        padding: 15px 20px;

        span{
            color: #ff0000;
        }
    }
}