/* -------------------------------------------
  Fonts
-------------------------------------------- */
$font_stack: Helvetica, sans-serif;
$proxima_novablack_stack: 'proxima_novablack';

/* -------------------------------------------
   Colors
-------------------------------------------- */
$black: #000;
$white: #000;
$darkgray: #a9a9a9;
$lightgray: #d3d3d3;

/* -------------------------------------------
   sizes
-------------------------------------------- */
$f20: 20px;